<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>заметки</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div class="container" id="app">
    <h1 class="title">список задач</h1>
    <div v-if="count() == 0 && tasks.length != 0">вы большой молодец 🎉🥳</div>
    <div v-else-if="count() == 1">остался последний рывок 😉</div>
    <div v-else="count() >= 2">осталось сдлеать задач: <span class="counter">{{count()}}</span></div>
    <div class="form">
      <input v-model="inputValue" @keypress.enter="addTask">
      <button class="add" :type="btnType" @click="addTask">добавить</button>
      <button class="btn-reset" v-if="tasks.length >= 1" @click="resetTask">очистить список</button>
    </div>
    <ul class="list">
      <li class="item" :class="{done: task.done}" v-for="(task, i) of tasks"><input type="checkbox" v-model="task.done"><span>{{task.text}}</span><button class="btn delete" @click="removeNote(i)">X</button></li>
      <h2 v-if="tasks.length === 0">задач нет🤷‍♂️<br>добавьте новые ✅</h2>
    </ul>
    <transition name="fade"><img v-show="count() == 0 && tasks.length != 0" src="https://media0.giphy.com/media/GeimqsH0TLDt4tScGw/giphy.gif?cid=ecf05e47gxp7dk7opkqvowxxpjq2ymc4t3cykd8utat4ju50&rid=giphy.gif&ct=g" alt=""></transition>
  </div>
  <script src="main.js"></script>
</body>

</html>